#cabecalho {
    text-align: center;
    font: 80px normal Arial;
    color: rgb(Math.floor(Math.random() * 255)+1, Math.floor(Math.random() * 255)+1, Math.floor(Math.random() * 255)+1);
}
#h2{
    text-align: center;
    margin-bottom: 50px;
}
.q{
    text-align: center;
    display: inline-block;
    width: 300px;
    height: 300px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 300px;
    border: 1px solid black;
}
#tudo{
    position: absolute;
    top: 35%;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}
